{% extends 'layout.html' %}
{% block title %}{{ blogpost.title }}{% endblock %}
{% block content %}
<article class="blogpost-detail">
  <div class="blogpost-detail-header">
  <h1 class="post-title">{{ blogpost.title }}</h1>
  <form method="post" action="" class="blogpost-edit-form">
    {% csrf_token %}
    <button type="submit" class="edit-button" title="Edit post">
      🖊️
    </button>
  </form>
</div>
  <p class="blogpost-meta">
    Published on {{ blogpost.created_at|date:"M d, Y" }}
  </p>

  <div class="blogpost-content">{{ blogpost.content|linebreaks }}</div>
  <a class="back-link" href="{% url 'blogs:blogpost_list_all' %}">
    ← Back to all blogposts
  </a>
</article>
{% endblock %}
