{% extends 'layout.html' %}
{% block title %}All Blogposts{% endblock %}
{% block content %}

<div class="blogpost-list">
  {% for blogpost in blogposts %}
  <article class="blogpost-card">
    <div class="blogpost-card-header">
    <h3>
      <a href="{% url 'blogs:blogpost_detail' blogpost.id %}">
        {{ blogpost.title }}
      </a>
    </h3>
    {% if showEditContainer %}
    <div class="blogpost-edit-container">
      <a href="{% url 'blogs:blogpost_toggle_privacy' blogpost.id %}" class="blogpost-privacy-toggle-icon" title="Toggle Privacy">
        {% if blogpost.private %}
          🔒
        {% else %}
          🌍
        {% endif %}
      </a>
      <a href="{% url 'blogs:blogpost_edit' blogpost.id %}" class="blogpost-edit-icon" title="Edit post">
        🖊️
      </a>
      <a href="{% url 'blogs:blogpost_delete' blogpost.id %}" class="blogpost-delete-icon" title="Delete post">
        🗑️
      </a>
    </div>
    <a
      href="{% url 'blogs:blogpost_create' %}"
      class="blogpost-create-post-button"
      title="Create new blogpost"
    >
      +
    </a>
    {% endif %}
    </div>
    <p class="blogpost-meta">
      {{ blogpost.creator }} | Published on {{ blogpost.created_at|date:"M d, Y" }}
    </p>
    <p class="blogpost-excerpt">{{ blogpost.content|truncatewords:25 }}</p>
  </article>
  {% empty %}
  <p>No blogposts yet.</p>
  {% endfor %}
</div>
{% endblock %}
