{% extends 'layout.html' %}
{% block title %}Create Blog Post{% endblock %}
{% block content %}
<h2 class="page-title">Create Blog Post</h2>
<form method="post">
  {% csrf_token %}
  <label for="title">Title:</label>
  <br />
  <input type="text" id="title" name="title" size="175" required />
  <br />
  <label for="content">Content:</label>
  <br />
  <textarea id="content" name="content" rows="20" cols="180" required></textarea>
  <br />
  <button type="submit" class="button">Create Post</button>
</form>
{% endblock %}
