{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Blogging platform{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <h1 class="logo">
          <a href="{% url 'blogs:blogpost_list' %}">Blogposts</a>
        </h1>
      </div>
    </header>

    <main class="container">{% block content %}{% endblock %}</main>

    <footer class="site-footer">
      <p>© {{ year|default:2026 }} Blogging Platform</p>
    </footer>
  </body>
</html>
