{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Django Blogging app{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header class="site-header">
      <div class="header-container">
        <h1 class="logo">
          <a href="{% url 'blogs:blogpost_list_all' %}">Django Blogging App</a>
        </h1>
        {% if user.is_authenticated %}
          <div class="user-info">
            <p>Logged in as {{ user.username }}</p>
        {% endif %}
        </div>
      </div>
    </header>

    <nav class="site-nav">
      <div class="container">
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'blogs:blogpost_list_all' %}">All Blog Posts</a></li>
          <li>
            <a href="{% url 'blogs:blogpost_create' %}">Create Blog Post</a>
          </li>
          <li>
            <form
              class="logout-form"
              action="{% url 'users:logout' %}"
              method="post"
            >
              {% csrf_token %}
              <button class="logout-button" type="submit">Logout</button>
            </form>
          </li>
          {% else %}
          <li><a href="{% url 'users:login' %}">Login</a></li>
          <li><a href="{% url 'users:register' %}">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <main class="content-container">{% block content %}{% endblock %}</main>

    <footer class="site-footer">
      <p>© {{ year|default:2026 }} Blogging Platform</p>
    </footer>
  </body>
</html>
